// Tree structure

.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  padding-left: 0px;
  margin-bottom: 0;
  list-style-type: none;
}

.txtColor:hover {
  color: red;
  cursor: pointer;
}

mat-tree > mat-nested-tree-node > li > div.mat-tree-node {
  border-radius: 4px;
  background-color: #f5f5f5;
  &::before {
    border: none;
  }
}

mat-tree li.mat-tree-node,
mat-tree div.mat-tree-node {
  position: relative;
  &::before {
    position: absolute;
    content: "";
    border: 1px dotted lightgray;
    position: absolute;
    height: 40px;
    left: -20px;
    border-width: 0 0 1px 1px;
    width: 24px;
    bottom: 24px;
  }
}

mat-tree mat-tree-node:first-child li.mat-tree-node::before,
mat-tree mat-nested-tree-node:first-child > li > div.mat-tree-node::before {
  height: 24px;
}

mat-tree mat-nested-tree-node:not(:last-child) > li > ul {
  position: relative;
  &::before {
    height: 100%;
    position: absolute;
    z-index: 1;
    left: -20px;
    bottom: 24px;
    content: "";
    border-left: 1px dotted lightgrey;
  }
}

.mat-tree-node {
  &:hover {
    background-color: #d6d6d6 !important;
  }
}
mat-tree {
  border: 2px solid #909090;
  border-radius: 5px;
  height: 220px;
  overflow: auto;
  width: 70%;
  @media screen and (max-width: 425px) {
    width: 100%;
  }
}

// scroll bar color
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

// ::-webkit-scrollbar-thumb {
//   background-color: #141313;
// }
