<mat-toolbar class="component--dialog-box__custom-toolbar">
    <span class="text-sm font-[550] text-[11px]"
      ></span
    >
    <span class="example-spacer">View / Resolve</span>
    <button mat-dialog-button class="flex items-center justify-center" (click)="OnClick()">
      <mat-icon>close</mat-icon>
    </button>
</mat-toolbar>
<section class="py-0 flex flex-col overflow-hidden" mat-dialog-content>
<div>
    <!-- Flag Message ID -->
    <div>
        <span class="secondary-heading">Flag Message ID : <span class="red-heading"> {{data?.selected_value[0]?.flag_message_id}}</span></span> <br>
        <span class="primary-heading mt-1">Global WOW FlashCards Name : <span class="red-heading"> {{data?.table_Value[0]?.wow_flashcards_name}}</span></span> <br>
        <span class="normal-heading mt-1" style="font-size: 14px;">Reason for flagging :
        <span class="normal-heading" style="font-size: 14px;" *ngIf="data?.selected_value[0]?.flag_reason_code == 0"> Has Sexual / Adult Content</span>
        <span class="normal-heading" style="font-size: 14px;" *ngIf="data?.selected_value[0]?.flag_reason_code == 1"> Has Anti National Content</span>
        <span class="normal-heading" style="font-size: 14px;" *ngIf="data?.selected_value[0]?.flag_reason_code == 2"> Has Abusive Content</span>
        <span class="normal-heading" style="font-size: 14px;" *ngIf="data?.selected_value[0]?.flag_reason_code == 3"> Not Relevant to Syllabus</span>
        <span class="normal-heading" style="font-size: 14px;" *ngIf="data?.selected_value[0]?.flag_reason_code == 4"> Very Less Relevance to Syllabus</span>
        <span class="normal-heading" style="font-size: 14px;" *ngIf="data?.selected_value[0]?.flag_reason_code == 5"> Is Plagiarized</span>
        <span class="normal-heading" style="font-size: 14px;" *ngIf="data?.selected_value[0]?.flag_reason_code == 6"> Has Wrong Answers</span>
        <span class="normal-heading" style="font-size: 14px;" *ngIf="data?.selected_value[0]?.flag_reason_code == 7"> Has Wrong Questions</span>
        <span class="normal-heading" style="font-size: 14px;" *ngIf="data?.selected_value[0]?.flag_reason_code == 8"> Has Error in Typing or Spelling or Grammar</span>
      </span>
    </div>

    <!-- Flagged By: User Details, Date, Time -->
    <div class="flex mt-2">
        <div class="mt-auto mb-auto">
            <span class="primary-heading">Flagged By : <br> User Details, Date, Time</span>
        </div>        
        <div class="ml-2">
          <span class="primary-heading cursor-pointer" (click)="openUserProfile(
            data?.selected_value[0]?.flagged_by_user_id,
            data?.selected_value[0]?.flagged_by_customer_id,
            data?.selected_value[0]?.flagged_by_country_code_of_customer_id
          )">{{data?.selected_value[0]?.flagged_by_user_name}}</span> <br>
          <span class="normal-heading">{{data?.selected_value[0]?.flagged_by_user_category_name}}</span> <br>
          <span class="normal-heading">Customer Country Code: <span class="red-heading"> {{data?.selected_value[0]?.flagged_by_country_code_of_customer_id.toUpperCase()}}</span></span> <br>
          <span class="normal-heading">{{data?.selected_value[0]?.flagged_datetime | date : 'dd MMM y, h:mm a' }}</span>
        </div>
    </div>

    <!-- Details:  -->
    <div>
        <span class="normal-heading">Details:</span>
        <div style="border: 1px solid #909090; border-radius: 5px; padding: 5px;">
          <span class="normal-heading">{{remove_unusual_tags}}</span>
        </div>
    </div>

    <div class="mt-3 mb-2">
        <div style="background-color: #909090; height: 4px;"></div>
    </div>
<!-- form  -->
<form [formGroup]="resolve_comment">
  <div class="mt-4">
      <mat-form-field
        appearance="outline"
        class="w-full component--mat-form-field__custom-input"
      >
        <mat-label class="normal-heading">Resolved - Comments from You:</mat-label>
        <input matInput formControlName="resolve_comment_value"/>
      </mat-form-field>
    </div>
</form>

      <!-- Add Comment and Resolve button  -->
      <div class="mt-2 ml-auto mr-auto">
        <button mat-raised-button class="primary-button" [disabled]="resolve_comment.invalid" (click)="add_comment_and_resolve()">Add Comment and Resolve</button>
      </div>
</div>
</section>