<section class="">
    <section class="p-2">
      <div class="my-2 font-bold text-lg text-center">Are you sure?</div>
      <div class="my-2 text-secondary text-xs text-center">
        Do you really want to suspend monetization? This process cannot be undone.
      </div>
      <div class="my-2 flex justify-center gap-x-2">
        <button class="primary-button" mat-raised-button mat-dialog-close="false">
          Cancel
        </button>
        <button
          class="primary-button"
          style="background-color: rgb(255, 5, 5)"
          mat-raised-button
          mat-dialog-close="true"
        >
        suspend monetization
        </button>
      </div>
    </section>
  </section>
  