@import "global";
@import "component-global";

// table
@import "variables";

::ng-deep .select .mat-select-value {
  @apply xs:whitespace-normal;
}

.table-responsive .mat-table {
  overflow-x: auto;
  width: 100%;
}

.table-responsive .mat-cell,
.table-responsive .mat-header-cell {
  word-wrap: initial;
  display: table-cell;
  line-break: unset;
  position: sticky;
  overflow: hidden;
  vertical-align: middle;
}

.table-responsive .mat-row,
.table-responsive .mat-header-row {
  display: table-row;
}

.mat-toolbar-single-row {
  height: 50px;
}

.mat-paginator-page-size-label {
  margin: 0 4px;
  top: 5px;
  position: relative;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px gray;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #9a9a9a;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

section:hover {
  cursor: auto;

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
}
.mat-column-effective_from_date_time {
  text-align: center;
  padding-left: -8px;
}
.mat-column-wow_flashcards {
  border-right: 1px solid $secondary-color;
  margin-left: 10px;
  // text-align: center;
}
.mat-column-monetization_from_your_edu {
  border-right: 1px solid $secondary-color;
  text-align: center;
}
.mat-column-Monetization_from_global_users {
    border-right: 1px solid $secondary-color;
    text-align: center;
  }
  .mat-column-shared_with_collaborators {
    border-right: 1px solid $secondary-color;
    text-align: center;
  }

th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type {
  padding-left: 1px;
}

th.mat-header-cell:last-of-type,
td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type {
  padding-right: 1px;
}

th.mat-header-cell {
  // text-align: center !important;
}

tr.mat-row:hover {
  // background-color: yellow;
}


.mat-table {
 max-height: 236px;

  > .mat-header-row,
  > .mat-row {
    display: table-row;
    padding: 0;
    border: none;

    > .mat-header-cell,
    > .mat-cell {
      display: table-cell;
      // height: 37px;
      vertical-align: middle;

      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }
  }
}

th.mat-header-cell:last-of-type,
td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type {
  padding-right: 0;
}

.new {
  // background-color: red;
  font-weight: 500;
  height: 25px;
  width: 33px;
  border-radius: 4px;
  animation: blink 300ms infinite;
}

@keyframes blink {
  0%{
    color: #3366ff;
    opacity: 1;
  }
  50%{
     color: red;
    opacity: 1;
  }
  100%{
    color: yellowgreen;
    opacity: 1;
  }
}